body {background-color: black;}


#globe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#globe-image:hover {
    cursor: progress;
}

.globe-title {
    font-size: 100px;
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.globe-second-title {
    font-size: 50px;
    color: goldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#gifcon {
    position: relative;
    text-align: center;
}

.overlay {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color:goldenrod;
    font-size: 30px;
}